# Application Configurations
APP_ENV=development
APP_PORT=8080
GRPC_PORT=9090

# =====================================================================
# TRƯỜNG HỢP 1: Chạy APP trong mạng Docker (Test Environment)
# (Các host trỏ đến tên Service trong các docker-compose thành phần)
# =====================================================================
DATABASE_URL=postgres://postgres:postgres@postgres:5432/fitai?sslmode=disable

KAFKA_BROKERS=kafka:9092
KAFKA_CLIENT_ID=fitai-backend
KAFKA_SECURITY_PROTOCOL=PLAINTEXT


# Security Configuration
JWT_SECRET=fitai_local_super_secret_key_change_me_in_prod
